<div id="centercontainer">
  <div id="intro">
    <img id="photo" src="/assets/me.jpg">
    <h1 id="name">CIHAN SARI</h1>
    <p>Experienced Software Developer with a demonstrated history of working in the industrial automation industry. Skilled
      in C++, Machine Vision, Computer Vision, IoT solutions and Full stack development. Strong team worker with a Master
      of Science focused in Systems and Control Engineering from Boğaziçi University.</p>
  </div>
  <div id="buttongroup">
    <a id="about" mat-raised-button href="/assets/saricv.pdf">Resume</a>
    <a id="clothingweb" mat-raised-button href="//clothingweb.cihansari.com/">Clothing Colors</a>
    <a id="lavaland" mat-raised-button href="//lavaland.cihansari.com/">Lavaland</a>
  </div>
  <div id="linkgroup">
    <a id="linkedin" href="https://www.linkedin.com/in/cihan-sari/">
      <img src="/assets/linkedin.svg">
    </a>
    <a id="mail" href="mailto:cihansari86@gmail.com">
      <img src="/assets/mail.svg">
    </a>
  </div>
</div>
