<div id="centercontainer">
  <div id="intro">
    <img id="photo" src="/assets/me.jpg">
    <h1 id="name">CIHAN SARI</h1>
    <p>Experienced Software Developer in the computer vision and industrial automation industry. Skilled
      in C++, Computer Vision, Machine Vision, Web technologies and Full stack development. Technology enthusiast.
      Strong team worker and critical thinker. Digital firefighter. Working at <a id="gritworld"
        href="https://www.gritworld.com/"> <img src="/assets/Gritworld_Black.webp">
      </a> to push the boundaries
      of real-time graphics and computer vision technologies.</p>
  </div>
  <div id="buttongroup">
    <a id="clothingweb" mat-raised-button href="//clothingweb.cihansari.com/">Clothing Colors</a>
    <a id="lavaland" mat-raised-button href="//lavaland.cihansari.com/">Lavaland</a>
    <a id="gritgene" mat-raised-button href="https://www.gritgene.com/"> <img id="gritgenelogo"
        src="/assets/Gritgene white logo.webp">
      GritGene</a>
  </div>
  <div id="linkgroup">
    <a id="linkedin" href="https://www.linkedin.com/in/cihan-sari/">
      <img src="/assets/linkedin.svg">
    </a>
    <a id="github" href="https://github.com/CihanSari">
      <img src="/assets/GitHub-Mark-64px.png">
    </a>
    <a id="mail" href="mailto:cihan@cihansari.com">
      <img src="/assets/mail.svg">
    </a>
  </div>
</div>