<div id="centercontainer">
  <div id="intro">
    <img id="photo" src="/assets/me.jpg" />
    <h1 id="name">CIHAN SARI</h1>
    <p>
      Skilled software engineer with experience in C++, Golang, and Node.js.
      Currently working on the development of backend services at
      <a
        id="klothed"
        href="https://www.getklothed.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/klothed_black.webp" />
      </a>
      with a focus on MLOPS. Strong background in computer vision, technical
      management, and project management, with a track record of successful
      collaboration with external teams and shaping the direction of companies,
      as well as leading and managing teams in the development of machine vision
      solutions for industrial automation and quality control.
    </p>
  </div>

  <div id="linkgroup">
    <a
      id="linkedin"
      href="https://www.linkedin.com/in/cihan-sari/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/linkedin.svg" />
    </a>
    <a
      id="github"
      href="https://github.com/CihanSari"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/GitHub-Mark-64px.png" />
    </a>
    <a
      id="mail"
      href="mailto:cihan@cihansari.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/mail.svg" />
    </a>
  </div>
</div>
